body {
    background-color: #f5f5f5;
}

h1 {
    font-size: 100px;
    color: #cc9a9a;
}

ul {
    list-style: none;
    font-size: 24px;
}

ul li.todo-done {
    color: gray;
    text-decoration: line-through;
}

.vi {
	padding-top: 20px;
}

.list-group-item {
	border-left: none;
	border-right: none;
}



.list-group-item button {
    display: none;
}

.list-group-item:hover button {
    display: inline-block;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
 }

 .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
 }

.paper {
  width: 60%;
  margin: 0 auto !important;
  background: #fff;
  box-shadow:
    0 1px 1px rgba(0,0,0,0.15),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0,0,0,0.15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15);
    margin: 30px;
    padding: 10px;
}

.dagger {
	float: right;
	border: 0;
	color: #cc9a9a;
}

.dagger:hover {
    background: transparent;
    color: #c25252;
}

#todoText {
    outline: none;
    border: 0;
    box-shadow: none;
    font-size: 24px;
}

#todoText:placeholder-shown {
    font-style: italic;
}

#markAllCompleted {
    border: 0;
    background-color: #fff;
}

.shown {
	display: inline-block;
}

.hidden {
	display: none;
}

.list {
	padding: 5.5px
}